*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
.nav-container{
  width: 100%;
  height: 100px;
  background-color: rgb(7, 7, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
 
}
.nav-link{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 1rem;
}
.nav-link li{
  margin: 1rem;
 
}
a{
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.logo{
  width: 150px;
  margin: 1rem;
}
.active-nav{
  position: relative;
}
.active-nav::after{
  content: '';
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  left: calc(50% - 0.5rem) ;
  transform: rotate(45deg);
  margin-top: 3.3rem;
  background-color: rgb(7, 7, 244);
}
.header-container{
  width: 100%;
  height: 90vh;
  background-color: rgb(6, 6, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  text-align: center;
  font-size: 1rem;
  color: white;
  margin: 1rem;
}
.left h1{
  margin: 1rem;
  font-size: 3rem;
}
.left p{
  margin-bottom: 2rem ;
  word-wrap:normal;
  color: antiquewhite;
}
.left h4{
  color: lightcoral;
  font-size: 2rem;
}
.btn{
  padding: 10px 25px;
  margin: 2rem;
  background-color: rgb(7, 7, 244);
  border-radius: 1rem;
  align-items: center;
  
}
.img{
  margin: 1rem;

  
}
.right{
  position: relative;
  padding: 2rem;
}
.image-section{
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: lightcoral;
  position: absolute;
  top:120px;
  left: 40px;
  
}
.image-section:hover{
  filter: blur(15px);
}
.pro-section{
  width: 100%;
  height: 70vh;
  background-color:rgb(6, 6, 112);
  color: white;
  
}
.crown{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.crown span{
  color: darkgoldenrod;
  background-color:rgb(7, 7, 244) ;
  border-radius: 10px;
  padding: 10px;
}
.crown h1{
  margin: 1rem;
}
.program-wrap{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 margin-left: 3rem;
 margin-top: 3rem;
}
.card-cont{
  width: 300px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 75, 236);
  border-radius: 0 3rem 0 3rem;
  text-align: center;
  padding: 1rem;
}
.icon{
  font-size: 2rem;
  background-color: rgb(7, 7, 244);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.card-cont h2{
  margin: 1rem;
}
.cr{
  padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.card-cont:hover{
  background-color: transparent;
  border: 1px solid white;
}
.card-cont:hover a{
  background-color: goldenrod;
  color: black;
}
.card-cont:hover span{
  background-color: goldenrod;
  color: black;
}
.value-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(6, 6, 112);
}
.value-img{
  width: 450px;
 margin-left: 9rem;
 filter: saturate(0);
 border-radius: 1rem;
}
.value-img:hover{
  filter: saturate(1);
}
.value-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}
.value3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-cont2{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:rgb(6, 47, 250); 
  border-radius: 0 3rem 0 3rem;
  margin: 2rem;
  position: relative;
}
.value-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}
.card-cont2 span{
 height: 2rem;
 width: 2rem;
 background-color:rgb(118, 118, 234);
 color: white;
 position: absolute;
 top: -11px;
 border-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.card-cont2 h2{
  margin: 1rem;
}
.value-card{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}
.value-card h1{
  margin: 0 10px;
}
.diamond{
  height: 3rem;
  width: 3rem;
  background-color:rgb(7, 7, 244);
  color: goldenrod;
  border-radius: 10px;
}
.card-cont2:hover{
  background-color: transparent;
  border: 1px solid white;
}
.card-cont2:hover span{
  background-color: gold;
  color: black;
}
.faq-container{
  width: 100%;
  height: 95vh;
  background-color: rgb(6, 6, 112);
  padding: 2rem;
  color: white;
  text-align: center;
}
.faqs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 1rem;
 
}
.faqs-cont{
  height:auto;
  width: 500px;
 margin: 1rem;
  background-color: rgb(6, 47, 250); 
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  
}
.faqbtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.faqbtn button{
  background-color:rgb(6, 47, 250); 
  color: white;
  border: none;
  cursor: pointer;
}
.testi-container{
  height: 50vh;
  width: 100%;
  background-color:rgb(6, 6, 112);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.testimo{
  width: 50%;
  height: 400px;
  background-color: rgb(6, 47, 250); 
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  border-radius: 0 3rem 0 3rem;

}
.testimo h3{
  margin: 1rem;
}
.imgtesti{
  position: absolute;
  width: 50px;
  border-radius: 1rem;
  top: -25px

}
.arrow{
  margin: 0 1rem;
  background-color: white;
  color:rgb(6, 47, 250) ;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  
}
.testibtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.footercont{
  width: 100%;
  height: 50vh;
  background-color:  rgb(6, 47, 250); 
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  color: white;
  align-items: center;
  justify-content: center;
}
.foot1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot1 img{
  width: 150px;
  margin-left: 2rem;
 
}
.foot1 p{
  margin: 1rem;
 
}
.foot2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot2 a{
  margin: 10px;
  
}
.footicon{
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.foot3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 1rem;
}
.foot3 h4{
  margin: 1rem;
  
}
.foot4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot4 a{
  margin: 1rem;
}
.line{
  color: white;
  margin-top: 2rem;
  text-align: center;
  border-top: 2px solid white;
  padding-bottom: 4rem;
}
.mainfot{
  background-color: rgb(6, 47, 250); 
}
.line h4{
  margin: 1rem;
}
.about-top{
  height: 400px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid white;
}
.about-top img{
width: 100%;
object-position: center;
}
.about-heading{
  position: absolute;
  top: 80px;
  color: white;
  text-align: center;
  left: 50px;
  font-size: 1.4rem;
  font-weight: 900;
}
.about-btm h1{
  font-size: 3rem;
}
.about-btm{
  width: 100%;
  background-color: rgb(6, 6, 112);
  color: white; 
  text-align: center;
  padding-top: 3rem;
}
.story1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
}
.story1 img{
  border-radius: 50%;
  transform: skew(15deg);
  transition: 0.5s ease all;
}
.story1 img:hover{
  transform: skew(0deg);

}
.story2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-align: start;
  font-size: 1rem;
 
}
.story1 p{
 text-align: end;
 letter-spacing: 2px;
 font-size: 1rem;
}
.story2 img{
  border-radius: 50%;
  transform: skew(15deg);
  width: 600px;
  margin: 1rem;;
  transition: 0.5s ease all;
}
.story2 img:hover{
  transform: skew(0deg);
}
.story2 p{
  letter-spacing: 2px;
}
.contact{
  height: 100vh;
  background-color:rgb(6, 6, 112);
  width: 100%;
}
.upper{
  height: 50vh;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  background-position:center;
  position: relative;
  border-bottom: 1px solid white;

}
.upper img{
  width: 100%;
  
}
.contact-head{
  position: absolute;
  top: 8rem;
  color: white;
 left: 650px;
 text-transform: uppercase;
 
}
.lower{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
 
}
.contact-icons{
  margin-top: 9rem;
}
.contact a{
  margin: 1rem;
}
.lower h1{
  margin-bottom: 2rem;
}
.gallery{
  background-color: rgb(6, 6, 112);
  width: 100%;
  height: auto;
}
.gallery1{
  height: 50vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: top ;
  position: relative;
  border-bottom: 1px solid white;
  color: white;

}
.gallery1 img{
  height: auto;
}
.gallery1 h1{
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 4rem;
}
.gallery2{
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-content:center;
 padding-left:3rem ;
 
}
.gallery2 img{
 
  width: 500px;
  border-radius: 1rem;
}
.gal-img{
  
  
 border-radius: 1rem;
  margin: 2rem;
 
}
.error{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 5rem;
}
.plan-container{
  width: 100%;
  height:auto;
  background-color: rgb(6, 6, 112);
  color: white;
  
}
.plan-top{
  height: 400px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid white;

}
.plan-top img{
  width: 100%;
 
}
.plan-top h1{
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 5rem;
}
.plan-btm{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5rem;
}
.disable{
  color: lightslategrey;
}
.plan-card{
  text-align: center;
  background-color: rgb(6, 47, 250) ;
  padding: 3rem;
  border-radius: 0 3rem 0 3rem;
  font-size: 1rem;
}
.plan-btn{
  padding: 15px 1.5rem;
  margin-top: 1rem;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(6, 6, 112);
  border-radius: 10px;
  cursor: pointer;
}
.plan-card p{
  margin: 10px;
}
.plan-card h1{
  color: skyblue;
  font-size: 3rem;
  margin: 1rem;
}